<!doctype html>
<title>WakeWord</title>

<script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
<section class="content">
    Welcome!
    <input id="recorder" type="button" value="RECORD">
</section>

<script type=text/javascript src="{{url_for('static', filename='js/client.js') }}"></script>
